/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.animation-wrap {
  position: relative;
  overflow: hidden; }

[ui-view] {
  z-index: 2;
  min-height: 200px; }

.transform.ng-enter, .transform.ng-enter-active, .transform.ng-leave, .transform.ng-leave-active, .slidedown.ng-enter, .slidedown.ng-enter-active, .slidedown.ng-leave, .slidedown.ng-leave-active {
  overflow: hidden; }
.transform.ng-enter, .slidedown.ng-enter {
  z-index: 2; }
.transform.ng-leave, .slidedown.ng-leave {
  z-index: 1; }

@media screen and (max-width: 767px) {
  .transform.ng-enter, .transform.ng-leave, .transform.ng-hide-add, .transform.ng-hide-remove, .slidedown.ng-enter, .slidedown.ng-leave, .slidedown.ng-hide-add, .slidedown.ng-hide-remove {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .transform.ng-enter, .transform.ng-hide-add, .slidedown.ng-enter, .slidedown.ng-hide-add {
    position: relative;
    opacity: 0; }
  .transform.ng-enter.ng-enter-active, .transform.ng-hide-add.ng-hide-add-active, .slidedown.ng-enter.ng-enter-active, .slidedown.ng-hide-add.ng-hide-add-active {
    opacity: 1; }
  .transform.ng-leave, .transform.ng-hide-remove, .slidedown.ng-leave, .slidedown.ng-hide-remove {
    opacity: 1; }
  .transform.ng-leave.ng-leave-active, .transform.ng-hide-remove.ng-hide-remove-active, .slidedown.ng-leave.ng-leave-active, .slidedown.ng-hide-remove.ng-hide-remove-active {
    opacity: 0; }
  .quickfade.ng-enter, .quickfade.ng-leave, .quickfade.ng-hide-add, .quickfade.ng-hide-remove {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .ng-enter.transform, .ng-hide-add.transform {
    left: 100%; }
  .ng-enter.slidedown, .ng-hide-add.slidedown {
    margin-top: -100%; }
  .ng-enter.quickfade, .ng-hide-add.quickfade {
    opacity: 0; }
  .ng-enter.ng-enter-active.transform, .ng-hide-add.ng-hide-add-active.transform {
    left: 0; }
  .ng-enter.ng-enter-active.slidedown, .ng-hide-add.ng-hide-add-active.slidedown {
    margin-top: 0; }
  .ng-enter.ng-enter-active.quickfade, .ng-hide-add.ng-hide-add-active.quickfade {
    opacity: 1; }
  .ng-leave.transform, .ng-hide-remove.transform {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%; }
  .ng-leave.slidedown, .ng-hide-remove.slidedown {
    margin-top: 0;
    position: relative; }
  .ng-leave.quickfade, .ng-hide-remove.quickfade {
    opacity: 1;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%; }
  .ng-leave.ng-leave-active.transform, .ng-hide-remove.ng-hide-remove-active.transform {
    left: -100%; }
  .ng-leave.ng-leave-active.slidedown, .ng-hide-remove.ng-hide-remove-active.slidedown {
    margin-top: -100%; }
  .ng-leave.ng-leave-active.quickfade, .ng-hide-remove.ng-hide-remove-active.quickfade {
    opacity: 0; } }

@media screen and (min-width: 768px) {
  .transform.ng-enter, .transform.ng-leave, .transform.ng-hide-add, .transform.ng-hide-remove, .slidedown.ng-enter, .slidedown.ng-leave, .slidedown.ng-hide-add, .slidedown.ng-hide-remove {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .transform.ng-enter, .transform.ng-hide-add, .slidedown.ng-enter, .slidedown.ng-hide-add {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    -o-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
    position: relative; }
  .transform.ng-enter.ng-enter-active, .transform.ng-hide-add.ng-hide-add-active, .slidedown.ng-enter.ng-enter-active, .slidedown.ng-hide-add.ng-hide-add-active {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  .transform.ng-leave, .transform.ng-hide-remove, .slidedown.ng-leave, .slidedown.ng-hide-remove {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  .transform.ng-leave.ng-leave-active, .transform.ng-hide-remove.ng-hide-remove-active, .slidedown.ng-leave.ng-leave-active, .slidedown.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    -o-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }
  .quickfade.ng-enter, .quickfade.ng-leave, .quickfade.ng-hide-add, .quickfade.ng-hide-remove {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .ng-enter.transform, .ng-hide-add.transform {
    left: -100%; }
  .ng-enter.slidedown, .ng-hide-add.slidedown {
    margin-top: -100%; }
  .ng-enter.quickfade, .ng-hide-add.quickfade {
    opacity: 0; }
  .ng-enter.ng-enter-active.transform, .ng-hide-add.ng-hide-add-active.transform {
    left: 0; }
  .ng-enter.ng-enter-active.slidedown, .ng-hide-add.ng-hide-add-active.slidedown {
    margin-top: 0; }
  .ng-enter.ng-enter-active.quickfade, .ng-hide-add.ng-hide-add-active.quickfade {
    opacity: 1; }
  .ng-leave.transform, .ng-hide-remove.transform {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%; }
  .ng-leave.slidedown, .ng-hide-remove.slidedown {
    margin-top: 0;
    position: relative; }
  .ng-leave.quickfade, .ng-hide-remove.quickfade {
    opacity: 1;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%; }
  .ng-leave.ng-leave-active.transform, .ng-hide-remove.ng-hide-remove-active.transform {
    left: 100%; }
  .ng-leave.ng-leave-active.slidedown, .ng-hide-remove.ng-hide-remove-active.slidedown {
    margin-top: -100%; }
  .ng-leave.ng-leave-active.quickfade, .ng-hide-remove.ng-hide-remove-active.quickfade {
    opacity: 0; } }

.overflow .details > div::-webkit-scrollbar {
  -webkit-appearance: none; }
.overflow .details > div::-webkit-scrollbar:vertical {
  width: 11px; }
.overflow .details > div::-webkit-scrollbar:horizontal {
  height: 11px; }
.overflow .details > div::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5); }
.overflow .details > div::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }

  40% {
    -webkit-transform: translateY(30px); }

  60% {
    -webkit-transform: translateY(15px); } }

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }

  40% {
    -moz-transform: translateY(30px); }

  60% {
    -moz-transform: translateY(15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

  40% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }

  60% {
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px); } }

#map-wrapper {
  border-top: 2px solid #eeeeee;
  position: relative;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 70%; }
  #map-wrapper > div, #map-wrapper .map-slider, #map-wrapper .details, #map-wrapper .map-pane, #map-wrapper #map {
    position: absolute;
    height: 100%;
    top: 0; }
  #map-wrapper > div, #map-wrapper .map-slider, #map-wrapper .map-pane, #map-wrapper #map {
    width: 100%; }
  #map-wrapper .map-title {
    z-index: 1000;
    position: absolute;
    left: 80px; }

#map-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1001;
  background: rgba(255, 255, 255, 0.3); }
#map-wrapper:after {
  content: "\f0a6";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  position: absolute;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -20px;
  z-index: 1001;
  border-radius: 100%;
  background: #2196F3;
  text-align: center;
  color: #FFF; }
#map-wrapper.fullscreen .fullscreen-wrap {
  position: fixed;
  z-index: 2001;
  height: 100%;
  background: #FFF;
  top: 0;
  left: 0; }
#map-wrapper.fullscreen:before {
  content: none; }

.overflow {
  width: 100%;
  left: 0; }
  .overflow .map-pane {
    right: 0;
    overflow: hidden; }
    .overflow .map-pane #map {
      max-width: 100%;
      position: relative;
      -webkit-transition: width ease 0.3s;
      -moz-transition: width ease 0.3s;
      transition: width ease 0.3s; }
  .overflow .filter-button {
    top: 10px;
    left: 8px;
    position: absolute;
    text-align: center;
    z-index: 1; }
  .overflow .full-screen-button {
    top: 10px;
    right: 8px;
    position: absolute;
    text-align: center;
    z-index: 1;
    display: none; }
    .fullscreen .overflow .full-screen-button {
      display: block; }
  .fullscreen .overflow .leaflet-top {
    top: 35px; }
  .overflow .menu-ui a {
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center; }
    .overflow .menu-ui a:hover {
      background: #eeeeee; }
    .overflow .menu-ui a.active {
      background: #2196F3;
      color: #FFF; }
      .overflow .menu-ui a.active:hover {
        background: #3074a4; }
  .overflow #details-close {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 1.2em; }
  .overflow .details {
    background: #fff;
    box-shadow: -1px 0px 13px 6px rgba(0, 0, 0, 0.2);
    padding: 30px;
    right: 0;
    z-index: 2005; }
    .overflow .details > div {
      overflow-y: auto;
      overflow-x: hidden;
      min-height: 100%;
      max-height: 100%; }

.google-powered-by {
  color: #777777;
  font-size: 12px; }

.hours-wrapper {
  margin: 1em 0 0.5em; }

.overflow.map-slider {
  -webkit-transition: left ease-out 0.4s;
  -moz-transition: left ease-out 0.4s;
  transition: left ease-out 0.4s; }
  .overflow.map-slider .map-pane {
    width: 100% !important; }
  .overflow.map-slider .details {
    -webkit-transition: margin-right ease 0.3s;
    -moz-transition: margin-right ease 0.3s;
    transition: margin-right ease 0.3s; }
  .details-open .overflow.map-slider {
    left: -10%; }
  .overflow.map-slider .details {
    width: 100%;
    margin-right: -110%; }
    .details-open .overflow.map-slider .details {
      margin-right: -10%; }

@media screen and (max-width: 767px) {
  .filter-open .overflow.map-slider {
    left: 200px; }
  .overflow.map-slider .menu-pane {
    position: absolute;
    top: 0;
    height: 100%;
    left: -200px;
    width: 200px; } }

@media screen and (max-width: 767px) and (orientation: portrait) {
  #map-wrapper {
    padding-top: 120%; } }

@media screen and (max-width: 767px) and (orientation: landscape) {
  #map-wrapper {
    padding-top: 45%; } }

@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
  #map-wrapper {
    padding-top: 50%; } }

@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
  #map-wrapper {
    padding-top: 110%; } }

@media screen and (max-width: 991px) { }

@media screen and (min-width: 768px) and (max-width: 991px) { }

@media screen and (min-width: 768px) {
  .details-open .overflow.map-slider {
    left: -0px; }
  .overflow.map-slider .details {
    width: 350px;
    margin-right: -360px; }
    .details-open .overflow.map-slider .details {
      margin-right: -0px; }
  .menu-ui {
    position: absolute;
    background: #fff;
    top: 10px;
    left: 10px;
    z-index: 1;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4); }
    .menu-ui a:first-child {
      border-radius: 3px 3px 0 0; }
    .menu-ui a:last-child {
      border: none;
      border-radius: 0 0 3px 3px; } }

@media screen and (min-width: 992px) { }

@media screen and (min-width: 1280px) {
  #map-wrapper {
    padding-top: 45%; } }

@media screen and (min-width: 1500px) {
  #map-wrapper {
    padding-top: 45%; } }
